
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/loginjs.js"></script>

<hgroup>
    <h1>Tracking Assistance</h1>
    <h3>Total Logistics Group</h3>
</hgroup>
<form class="login100-form validate-form" method="post"  onsubmit="return loginValidation()">
    <div class="group validate-input" data-validate="User name is required">
        <input  class="input100"  id="uname" type="text"><span class="highlight"></span><span class="bar"></span>
        <label>User Name</label>
    </div>
    <div class="group validate-input" data-validate="Password is required">
        <input  class="input100"  type="password" id="psd"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button class="button buttonBlue">
        Login
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>





