
@model IEnumerable<TrackingAssistance.Models.RunningJob>
<link href="~/Content/jquery.pnotify.css" rel="stylesheet" />
<div class="content" id="tableBody">
    @Html.Partial("_ApplyLanePartialView", Model)
</div>

<script>

    $(document).ready(function () {
        $('.kraft').removeClass('active');

        $('.admin').addClass('active');
    });
</script>